.cardTodoList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  border: 2px solid rgb(var(--color-muted));
  border-radius: 15px;
  row-gap: 5px;
}

.title {
  align-self: center;
}

.inputTodo {
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
  width: 70%;
  font-family: inherit;
}

.inputTodo:focus {
  outline: none;
  border-color: rgb(var(--color-muted));
}

.inputTodo::placeholder {
  font-style: italic;
  font-family: inherit;
  opacity: 0.7;
}

.todoInput {
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 8px;
  padding: 5px;
  width: 90%;
  font-family: inherit;
  font-weight: 450;
}

.todoInput:focus {
  outline: none;
  border-color: rgb(var(--color-muted));
}

.shake {
  animation: shake 0.3s ease;
  border-color: #c67350 !important;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

.todoList {
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 90%;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.todoLeft {
  display: flex;
  align-items: center;
  width: 70%;
}

.todoRight {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.todoButton {
  all: unset;
  transition: color 0.1s linear;
}

.todoButton:hover {
  color: rgb(var(--color-muted));
  transition: color 0.1s linear;
}

.checkboxTodo {
  accent-color: #8ba888;
  cursor: pointer;
}

.completedTodo {
  color: rgb(var(--color-muted));
  opacity: 0.6;
  transition: all 0.5s ease;
}

.unfinishedTodo {
  transition: all 0.5s ease;
}
