.calendar {
  width: 20rem;
  border: 2px solid rgb(var(--color-muted));
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.dateItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoDotCompleted,
.todoDotOngoing {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  margin-top: -2px;
}

.todoDotCompleted {
  background-color: var(--color-accent);
}

.todoDotOngoing {
  background-color: var(--color-status-ongoing);
}
