.calendar {
  width: 300px;
  border: 2px solid rgb(var(--color-muted));
  border-radius: 15px;
  overflow: hidden;
}

.dateItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoDotCompleted {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8ba888;
  margin-top: -2px;
}

.todoDotOngoing {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a89f99;
  margin-top: -2px;
}
