.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 15px;
}

.navbar {
  position: fixed;
  top: 2%;
  left: 0;
  right: 0;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgb(var(--color-muted));
  opacity: 0.6;
  z-index: 100;
  padding: 18px;
  transition: opacity 0.8s ease;
}

.goalLogo {
  color: rgb(var(--color-foreground));
  width: 15px;
  height: 15px;
  transition: color 0.3s ease;
}

.goalLogo:hover {
  color: rgb(var(--color-muted));
}

.calendarLogo {
  color: rgb(var(--color-foreground));
  width: 15px;
  height: 15px;
  transition: color 0.3s ease;
}

.calendarLogo:hover {
  color: rgb(var(--color-muted));
}
